<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo목록 앱</title>
</head>
<body>

<div class="container">
    <h1>Todo목록 앱</h1>
    <p>
        <a href="{% url 'todo_post' %}">Add Todo</a>
        <a href="{% url 'done_list' %}">완료한 TODO 목록</a>
    </p>
    <ul class="list-group">
        {% for todo in todos %}
        <li>
            <a href="{% url 'todo_detail' pk=todo.pk %}">{{ todo.title }}</a>
            {% if todo.important %}
            [중요]
            {% endif %}
            <div>
                <a href="{% url 'todo_done' pk=todo.pk %}">완료</a>
                <a href="{% url 'todo_edit' pk=todo.pk %}">수정하기</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>